.modal-background {
    background-color: black;
    opacity: 0.5;
    backdrop-filter: blur(5);
}

.dialog {
    filter: drop-shadow(1, 45, #000000, 0.2, 30, 2, 1, 3, false);
    height: auto;
    initial-width: 300px;
    padding: 1px;
    
    background-color: #3a3a3a;
    border: 1px solid #484848;
    border-radius: 3px;
}

.dialog-title {
    background-color: #484848;
    padding: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #484848;
}

.dialog-footer-container {
    border-top-width: 1px;
    border-top-color: #484848;
    background-color: #484848;
}

.scrollview {
    border: 1px solid #484848;
    border-radius: 1px;
    padding: 1px;
    width: auto;
    height: auto;
    background: #303030;
}


.dialog #iconImage.info {
    resource: "icons/dialogs/info.png";
}
