.label, .button, .textfield, .textarea {
    font-name: "fonts/Roboto-Regular.ttf";
    color: #cccccc;
}
    

#log .scrollview-contents .hbox .label {
    color: #899fc2;
}

#log .scrollview-contents .hbox .label.error {
    color: #CC2222;
}

#log .scrollview-contents .hbox .label.resource-link {
    color: #899fc2;
    font-underline: true;
    pointer-events: true;
}

#log .scrollview-contents .hbox .label.error-resource-link {
    color: #CC2222;
    font-underline: true;
    pointer-events: true;
}

.code-editor {
    border: 1px solid #484848;
    background-color: #1e1e1e;
}
