<module>
    <resources>
        <resource path="/vs/monaco/editor/syntax" prefix="syntax" />
        <resource path="assets/img" prefix="img" />
    </resources>
    <components>
        <class package="custom" />
        <class package="panels" />
        <class package="editors" />
    </components>
</module>
