[submodule "Kha"]
	path = Kha
	url = https://github.com/Kode/Kha
	branch = main
[submodule "Client/.haxelib/haxeui-core/git"]
	path = Client/.haxelib/haxeui-core/git
	url = https://github.com/haxeui/haxeui-core
	branch = master
[submodule "Client/.haxelib/haxeui-html5/git"]
	path = Client/.haxelib/haxeui-html5/git
	url = https://github.com/haxeui/haxeui-html5
	branch = master
[submodule "Client/.haxelib/monaco-editor/git"]
	path = Client/.haxelib/monaco-editor/git
	url = https://github.com/axgord/hx-monaco-editor
[submodule "Client/.haxelib/haxeui-code-editor/git"]
	path = Client/.haxelib/haxeui-code-editor/git
	url = https://github.com/haxeui/haxeui-code-editor
